[OpenVPN-Monitor]
{{- range $i := ls "/openvpnmonitor/default" }}
{{- if eq $i "datetimeformat" }}
datetime_format={{ replace (getv (printf "/openvpnmonitor/default/%s" $i)) "%%" "%" -1 -}}
{{else}}
{{$i}}={{ getv (printf "/openvpnmonitor/default/%s" $i) -}}
{{end -}}
{{end}}
geoip_data=/var/lib/GeoIP/GeoLite2-City.mmdb
{{ if not (exists "/openvpnmonitor/default/datetimeformat") -}}
datetime_format=%d/%m/%Y %H:%M:%S
{{end}}

{{- range $i := ls "/openvpnmonitor/sites" -}}
{{if not (exists (printf "/openvpnmonitor/sites/%s/alias" $i)) }}
[Site {{$i}}]
{{ end -}}
{{- range $property := ls (printf "/openvpnmonitor/sites/%s" $i) }}
{{- if eq $property "alias" }}
[{{ getv (printf "/openvpnmonitor/sites/%s/%s" $i $property) }}]
{{else -}}
{{if exists (printf "/openvpnmonitor/sites/%s/%s" $i $property) }}
{{- if eq $property "showdisconnect" -}}
show_disconnect={{- getv (printf "/openvpnmonitor/sites/%s/%s" $i "showdisconnect") -}}
{{- else -}}
{{- $property }}={{- getv (printf "/openvpnmonitor/sites/%s/%s" $i $property) -}}
{{end -}}
{{end}}
{{end -}}
{{end -}}
{{end -}}
